.contFormP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/wallpaper.png");
    background-size: cover;
    background-position: center;
}


.white-icon {
    color: white;
    width: 50px;
    height: 50px;
}

.dashboard-link {
    position: absolute;
    top: 10px;
    left: 10px;
}

.formContainerP {
    position: relative;
}

.formP {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: white solid .5px
}

.titleP {
    font-size: 28px !important;
    color: #FDB813 !important;
    font-weight: 600 !important;
    letter-spacing: -1px !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    padding-left: 30px !important;
    margin-bottom: -15px !important;
}

.titleP::before,
.titleP::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #FDB813;
}

.titleP::before {
    width: 18px;
    height: 18px;
    background-color: #FDB813;
}

.titleP::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.messageP,
.signinP {
    color: rgba(255, 255, 255, 0.822);
    font-size: 14px !important;
}

.imageFormP {
    width: 350px;
    max-width: 100%;
    font-size: 14px;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

.imageFormP::file-selector-button {
    margin-right: 10px;
    font-size: 15px;
    border: none;
    background: #FDB813;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.imageFormP::file-selector-button:hover {
    background: #FFA500;
}

.flexP {
    display: flex;
    width: 100%;
    gap: 6px;
}

.formP label {
    position: relative;
}

.formP label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.formP label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.4em;
    cursor: text;
    transition: 0.3s ease;
}

.formP label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.formP label .input:focus+span,
.formP label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.formP label .input:valid+span {
    color: #fdb713f3;
}

.submitP {
    border: none;
    outline: none;
    background-color: #FDB813;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px !important;
    transform: .3s ease;
}

.submitP:hover {
    background-color: #FFA500;
}

.previewImage {
    width: 100px;
    height: 100px;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}