.cardPrd {
  background: white;
  width: 280px;
  height: 450px;
  display: inline-flex;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9998;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.productImg {
  margin-top: 20px;
  width: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height:200px;
}

.infoPrd {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.titlePrd {
  font-family: Monsterrat;
  color: black;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  margin-top: 200px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.descriptionPrd {
  font-family: Monsterrat;
  color: black;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd center;
  padding: 10px;
}

.price_card {
  font-family: Monsterrat;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  padding-top: 1.5px;
  margin-bottom: 10px;
}


.text-body {
  font-size: .9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

.cardPrd:hover {
  border: 1px solid #000000;
  transform: scale(1.05);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.counterBtn {
  border: none;
  background: transparent;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
}

.counter span {
  font-size: 24px;
  margin: 0 10px;
}
