.product {
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.cardProduct {
    margin-top: -50px;
    margin-left: -10px;
    height: 30%;
    width: 300px;
}